<!DOCTYPE html>
<html>
<head>
    <title>F1 Analysis</title>
</head>
<body>
	<div>

	</div>

	<div>
	<h2 style="text-align: center">F1 Analysis</h2>
    <iframe src="/driver_per_race" width="1200" height="500" frameborder="0"></iframe>
    <iframe src="/driver_per_race_per_cost" width="1200" height="500" frameborder="0"></iframe>
    <iframe src="/team_per_race" width="1200" height="500" frameborder="0"></iframe>
    <iframe src="/team_per_race_per_cost" width="1200" height="500" frameborder="0"></iframe>
	</div>
</body>
</html>
